/* font-family: 'Anton', sans-serif;
font-family: 'Titillium Web', sans-serif; */

body {
    height: 100%;
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
  background-image: url("../images/marvel-collage-v2.jpg");
}

#wrapper {
  width: 960px;
  min-height: 55%;
  box-sizing: border-box;
  padding: 5% 0;
  margin: 5% auto;
  background-color: #ec1d23;
  border: 2px solid white;
}

#trivia-header {
    font-family: 'Anton', sans-serif;
    font-style: bold;
    font-size: 60px;
    color: black;
    margin-bottom: 40px;
}

#hidden-container {
  position: relative;
  margin-top: 40px;
  /* top: 20%; */
}

button {
  display: block;
  width: 350px;
  height: 100px;
  margin: 40px auto 0;
  font-size: 42px;
  font-weight: bold;
  cursor: pointer;
  background: white;
  color: #ec1d23;
  border: 2px solid black;
}

button:hover {
    background: black;
    border: 1px solid white;
    color: yellow;
  }

  #quiz-questions h2 {
    margin-top: 60px;
    font-size: 25px;
    color: white;
    margin: 4%;
  }

h1 {
  padding-bottom: 20px;
  font-family: 'Anton', sans-serif;
  font-size: 120px;
  font-weight: bold;
  color: white;
}

h2 {
margin-bottom: 25px;
font-size: 35px;
}

h3 {
  margin-bottom: 10px;
  font-size: 25px;
}


#deadpool {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 275px;
    /* width: 300px;
    padding: 10px; */
    
}



